/* mobile-first*/
*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
} 

/* NAVBAR */
.navbar {
    height: 9vh;
    width: 100vw;
    background: transparent;
    font-size: 1.5em;
    padding: 1vh 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-family: 'Kalam', cursive; */
}

#navbar-dsk {
    display: none;
}

#navbar-mbl{
    justify-content: center;
}

#logo {
    width: 25vh;
}

/* Login & Register buttons*/
.linksToJoin {
    /* border: 1px solid white; */
    text-decoration: none;
    /* padding: .25rem .5rem; */
    padding: 0.5%;
    font-family: 'Lobster', cursive !important;
    font-size: .8em;
    background-color:#004d40;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 5px;
}

/* .linksToJoin:hover {
    text-decoration:underline;
} */

#btn-login {
    color: white;
}

#btn-register {
    color: white;
}

h1{
    color:#004d40;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
}

/* HOME */
.page-background {
    height: 88vh;
    width: 100vw;
    background: url(img/wedding-gay.jpg);
    background-size: cover;
    background-position: top;
    margin: 0%;
}

.main-home {
    padding: 2rem;
    background: #b2dfdb;
    color: #4db6ac;
    text-align: center;
}

.main-home  {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #26a69a;
}

.main-home p {
    font-family: 'Lobster', cursive !important;
}
#main-home-mbl {
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(	178, 223, 219, 0.85);
    /* text-align: center; */
}

#main-home-dsk {
    display: none;
}

/* FORM */
.form-background{
    width: 60vw;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background: rgba(188, 186, 191, 0.65);
    color: #991b1e;
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 2.1rem;
    text-align: center;
}

.form-inputs {
    width: 40vh;
    height: 5vh;
    font-family: 'Kalam', cursive;
    font-size: .8rem;
}

#addon-wrapping { 
    color: #4db6ac; /* #495057 */
}

.form-submit {
    width: 40vh;
    height: 5vh;
    font-family: 'Kalam', cursive;
    font-size: 1.2rem;
}

/* inicio publicaciones*/
i{
    margin: 1rem;
    justify-content: space-between;
}

i .fas, .fa-user-circle, .fa-heart, .fa-shopping-cart, .fa-user-friends, .fa-search, .fa-comment{
   color: #4db6ac;
}
 
.row{
     margin-bottom: 0 !important;
}

.menu{
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: space-around; 
}
 
.container-post{
    background-color:  #b2dfdb;
    display: grid;
}

.title{
    display: flex;
    text-align: left;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-head{
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.card-footer {
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
}

.btn-post {
    padding: 0.5%;
    font-family: 'Lobster', cursive !important;
    font-size: 1em;
    background-color: #004d40;
    color: white;
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    margin-bottom: 4%;
}

/* desktop version */
@media (min-width: 600px){
    /* Login & Register buttons*/
    .linksToJoin {
        /* border: 1px solid white; */
        text-decoration: none;
        /* padding: .25rem .5rem; */
        padding: 0.5%;
        font-family: 'Lobster', cursive !important;
        font-size: .8em;
        background-color: transparent;
    }

    /* NAVBAR */
    #navbar-dsk {
        display: flex;
    }

    #navbar-mbl{
        display: none;
    }

    /* HOME */
    #home {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .page-background {
        grid-column: 1/2;
        height: 88vh;
        width: 100%;
    }
    
    #main-home-dsk {
        grid-column: 2/3;
        /* width: 100%; */
        height: 88vh; 
        display: block;
    }

    #main-home-dsk h1 {
        padding-top: 15%;
        font-size: 2.6rem;
    }

    #main-home-dsk p {
        font-size:  1.3rem;
    }

    #main-home-mbl {
        display: none;
    }

    .form-inputs {
        width: 60vh;
        font-size: 1.2rem;
    }

    /*inicio publicaciones*/
    .container-post{
        background-color:  #b2dfdb;
        display: flex;
        justify-content: center;
    }
    .row{
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 768px){
    
        /* NAVBAR MATERIALIZE */
        
        nav{
            background-color: #4db6ac !important;
            height: 9.5vh !important;
        }
        
        .size-li{
            width: 30vh !important;
            text-align: center !important;
        }    
}

@media (max-width: 1560px){
     /* NAVBAR MATERIALIZE */
        
     nav{
        background-color: #4db6ac !important;
        height: 9.5vh !important;
    }
    
    .size-li{
        width: 30vh !important;
        text-align: center !important;
        text-decoration: none;
    }
    
}